In [ ]:
Project: 
    
    
    1. problem Statement:

In [ ]:
Labeled Data  : 
Unlabelled Data : 
    
    DBMS 
    
    SQL 
    NoSQL

# 1. Problem Statement

In [ ]:
Document classification for insurance domain : 
    Data Gathring : 
    insurance domain: Received data in pdf format 
    
    Used OCR to convert into text [python script , regexp, file operation ] 
    
    Data Preprocessing [missing value, pattern matching ]
    
    
    classes : 5 - 15
    
    
    Achieved: we have achieved around 80% automation using this process

In [ ]:
Classes

news domain : 5 -6 
education engg : 8 - 10
healthcare domain : 15 - 20 

Music: 10-15

sports : 5- 6 



POC  >> Proof of concept 

Data : 
    50k - 1.5 lakhs 
    
final project : 1 cr to 1.5 cr

In [2]:
import os 
import glob

In [19]:
path = r"text\bbc"

b_text_files = glob.glob('text\\bbc\\business\\*.txt')
# b_text_files
files = os.listdir(path)

In [30]:
artilce_list=[]
for file in files:
    
    text_files = glob.glob(f"{path}\{file}\\*.txt")
    # print(text_files)
    for text_file in text_files:
        with open(text_file,'r') as f:
            text = f.read()
            artilce_list.append(text)
len(artilce_list)

2225

In [31]:
artilce_list[0]

'Ad sales boost Time Warner profit\n\nQuarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (Â£600m) for the three months to December, from $639m year-earlier.\n\nThe firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.\n\nTime Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL\'s underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL\'s existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.\n\nTime Warner\'s fourth quarter profits were slightly better than analysts\' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.\n\nTimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann\'s purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake.\n'

In [32]:
path = r"text\bbc"

# b_text_files = glob.glob('text\\bbc\\business\\*.txt')
# # b_text_files
files = os.listdir(path)
files

['business', 'entertainment', 'politics', 'sport', 'tech']

In [39]:
business_class = path + '\\business'
business_class_text_files = glob.glob(f"{business_class}\\*.txt")

entertainment_class = path + '\\entertainment'
entertainment_class_text_files = glob.glob(f"{entertainment_class}\\*.txt")
                                           
politics_class = path + '\\politics'
politics_class_text_files =  glob.glob(f"{politics_class}\\*.txt")

sport_class = path + '\\sport'
sport_class_text_files = glob.glob(f"{sport_class}\\*.txt")

tech_class = path + '\\tech'
tech_class_text_files =  glob.glob(f"{tech_class}\\*.txt")

# tech_class_text_files

In [51]:
article =[]
target = []
def text_list(file_path_list,class_name):
    for file in file_path_list:
        with open(file,'r') as f:
            text = f.read()
            article.append(text)
            target.append(class_name)
text_list(business_class_text_files,'business')
text_list(entertainment_class_text_files,'entertainment')
text_list(politics_class_text_files,'politics')
text_list(sport_class_text_files,'sport')
text_list(tech_class_text_files,'tech')
print(len(article))
print(len(target))

2225
2225

In [52]:
target[-1]

'tech'

In [54]:
import pandas as pd
d1 = {'text':article,'class':target}
df = pd.DataFrame(d1)
df

                                                   text     class
0     Ad sales boost Time Warner profit\n\nQuarterly...  business
1     Dollar gains on Greenspan speech\n\nThe dollar...  business
2     Yukos unit buyer faces loan claim\n\nThe owner...  business
3     High fuel prices hit BA's profits\n\nBritish A...  business
4     Pernod takeover talk lifts Domecq\n\nShares in...  business
...                                                 ...       ...
2220  BT program to beat dialler scams\n\nBT is intr...      tech
2221  Spam e-mails tempt net shoppers\n\nComputer us...      tech
2222  Be careful how you code\n\nA new European dire...      tech
2223  US cyber security chief resigns\n\nThe man mak...      tech
2224  Losing yourself in online gaming\n\nOnline rol...      tech

[2225 rows x 2 columns]

In [55]:
df.to_csv('sample.csv')